#Message {
    width: 100%;
    position: absolute;
    background-color: #f1f2f3;
    overflow-x: hidden;
    top: 2.5rem;
    bottom: 0;

    .message-header {
        width: 100%;
        text-align: center;
        height: 1.5rem;
        padding: 1rem 0;
        background: #3775F6;
    }

    .message-box {
        margin-top: .5rem;
    }

    .message-item {
        width: 100%;
        display: flex;
        align-items: center;
        height: 3.6rem;
        padding: .2rem .6rem;
        background-color: #fff;
        margin-bottom: .1rem;

        .message-avator {
            img {
                width: 2.4rem;
                height: 2.4rem;
            }
        }

        .message-info {
            margin-left: .8rem;

            .message-name {
                font-size: .9rem;
            }

            .message-content {
                margin-top: .3rem;
                font-size: .75rem;
                color: #aaa;
            }
        }
    }
}