#ForSendMessage {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    height: 100%;
    background-color: #f1f2f3;

    .send-header {
        width: 100%;
        border-bottom: solid .05rem #ccc;
        position: fixed;
        top: 0;
        left: 0;
    }

    .send-header-block {
        height: 3.6rem;
    }

    .message-time {
        width: 100%;
        text-align: center;
        color: #aaa;
    }

    .receive-message-box {
        width: 100%;
        margin-top: 1rem;
    }

    .receive-message-item {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 1rem 0;
        margin-right: .5rem;
    }

    .receive-message-wrap {
        max-width: 70%;
        display: flex;
        align-items: center;
    }

    .receive-message-info {
        background-color: #fff;
        border: solid .2rem #fff;
        padding: .5rem;
        border-radius: .5rem;

        img {
            width: 12rem;
            height: 18rem;
        }

        .receive-message-text {
            font-size: 1.2rem;
        }
    }

    .receive-message-content {
        background-color: #2E85FF;
        border: solid .2rem #2E85FF;
        padding: .5rem;
        border-radius: .5rem;

        img {
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    .receive-message-tria {
        border-style: solid;
        border-width: .4rem .5rem .4rem 0;
        border-color: transparent #2E85FF transparent transparent;
        margin-left: -.1rem;
    }

    .receive-message-avator {
        margin: 0 1rem 0 .5rem;

        img {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    .message-box {
        width: 100%;
        margin-top: 1rem;
    }

    .message-item {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 1rem 0;
        margin-right: .5rem;
    }

    .message-wrap {
        max-width: 70%;
        display: flex;
        align-items: center;
    }

    .message-content {
        background-color: #2E85FF;
        border: solid .2rem #2E85FF;
        padding: .5rem;
        border-radius: .5rem;

        img {
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    .message-tria {
        border-style: solid;
        border-width: .4rem 0 .4rem .5rem;
        border-color: transparent transparent transparent #2E85FF;
        margin-left: -.1rem;
    }

    .message-avator {
        margin: 0 1rem 0 .5rem;

        img {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    .send-footer-block {
        width: 100%;
        height: 3.6rem;
    }

    .send-footer {
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        bottom: -0.1rem;
        background-color: #f1f1f1;
        height: 2.4rem;
        transition: all .5s ease;
        padding: .5rem 0 1rem 0;
    }

    .send-content {
        height: 2.4rem;
        padding: 0 0 1rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .send-input {
        width: 70%;

        input {
            width: 95%;
            outline: none;
            border: .1rem #fff solid;
            border-radius: .1rem;
            height: 1.8rem;
            font-size: 1.1rem;
        }
    }

    .send-plus {}

    .plus-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .upload-image {
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: .5rem;
        opacity: 0;

        input {
            width: 4rem;
            height: 4rem;
        }
    }

    .am-image-picker,
    .am-image-picker-list,
    .am-flexbox-item,
    .am-image-picker-item,
    .am-image-picker-upload-btn {
        width: 4rem;
        height: 4rem;
    }

    .plus-item {
        width: 25%;
        font-size: .8rem;
        text-align: center;
        margin-bottom: 1rem;

        img {
            width: 2rem;
            height: 2rem;
            margin-top: .2rem;
            padding: 1rem;
            background-color: #fff;
            border-radius: .6rem;
        }
    }

}