.menu-item{
    width: 90%;
    background-color: #fff;
    height: 1rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: .0625rem auto;
    border-radius: .25rem;
    padding: .625rem 1.5rem;
    span{
        display: inline-block;
    }
    img{
        width: 1rem;
        height: 1rem;
    }
    .item-img{
        margin-right: .5rem;
    }
    .item-arrow{
        flex: 1;
        text-align: end;
    }
}