#AddFriend {

    .add-body {
        padding: .5rem 0;
    }

    .input-search {
        margin: .5rem 0;

        input {
            width: 100%;
            border: none;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            outline: none;
        }
    }
}