#List {
    width: 100%;
    position: absolute;
    background-color: #FAFAFA;
    overflow-x: hidden;
    top: 2.5rem;
    bottom: 0;

    .list-header {
        width: 100%;
        padding-bottom: 1rem;
    }

    .header-searchBar {
        width: 100%;
        height: 3rem;
        margin-bottom: .5rem;
        background-color: #3775F6;
    }

    .header-item {
        width: 100%;
    }

    .list-body {
        position: relative;
    }

    .body-tab {
        height: 1.5rem;
        line-height: 1.5rem;
        display: flex;
        justify-content: space-between;
        padding: .8rem 0;
        background-color: #fff;
    }

    .body-tab-item {
        width: 50%;
        font-size: 1rem;
        text-align: center;
    }

    .body-content {
        display: flex;
        white-space: nowrap;
        overflow: hidden;
    }

    .address-body {
        width: 100%;
        transition: all .6s ease;
    }

    .group-body {
        width: 0;
        transition: all .6s ease;
    }
}