#MyCenter{
    width: 100%;
    background-color: #3775F6;
    .mycenter-header{
        height: 3rem;
        display: flex;
        padding: 1.25rem;
        justify-content: center;
        align-items: center;
        .mycenter-header-avator{
            flex: 0.1;
            margin: .625rem;
            margin-left: -.5rem;
            img{
                width: 3rem;
                height: 3rem;
                padding: .625rem;
                border: 1px #000 solid;
            }
        }
        .mycenter-header-text{
            flex: 0.8;
            width: 100%;
            margin-right: 7rem;
            .text-name{
                color: #fff;
                font-size: 1rem;

            }
            .text-class{
                color: #1b2b3b;
                font-size: 0.5rem;
            }
        }
        .mycenter-header-arrow{
            width: 100%;
            flex: 0.1;
            img{
                width: 1rem;
                height: 1rem;
            }
        }
    }

    .mycenter-body{
        width: 100%;
        background-color: #eee;
        margin: 0 auto;
        border-radius: .125rem;
    }   
}