#PayNet{
    width: 100%;
    background-color: #FAFAFA;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    .paynet-body{
        width: 100%;
        margin-top: 2rem;
    }
    .input-item{
        display: flex;
        justify-content: space-around;
        height: 2rem;
        align-items: center;
        margin: .5rem 0;
        background-color: #fff;
        padding: .5rem 0;
        input{
            border: none;
            outline: none;
            text-align: end;
        }
    }
    .pay-detailed{
        width: 10.05rem;
        height: 2rem;
    }  
    .select-amount{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .amount-item{
        width: 30%;
        background-color: #fff;
        text-align: center;
        border: .1rem #eee solid; 
        padding: .2rem 0;
        margin: .2rem 0;
    }
}