#List{
    width: 100%;
    background-color: #eee;
    .list-header {
        width: 100%;
        padding-bottom: 1rem;
    }
    .header-searchBar {
        margin-bottom: .5rem ;
    }
    .header-item {
        width: 100%;
    }

}