#MyCourseList {
    width: 100%;

    .course-header {
        width: 100%;
        background-color: #f1f2f3;
        height: 6rem;
    }

    .course-footer {
        width: 100%;
        text-align: center;
        font-size: .8rem;
        color: #aaa;
    }
}